{% load static i18n compress%}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Threatr{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Threat intelligence meta search engine">
    <meta name="author" content="Esther Onfroy">
  </head>

  <body>
    <div class="container">
      <code>Welcome to Threatr</code>

    </div> <!-- /container -->
  </body>
</html>
